@tailwind base;
@tailwind components;
@tailwind utilities;

.margin-top--120{
    margin-top: -120px;
}

.hero-section{
    background-image: url("../public/wave-1.svg");
    background-repeat: no-repeat;
}